h1 {
  margin-block-start: 0em;
  color: white;
}

h2 {
  color: #d4d4d2;
}

.input-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  height: 1.5em;
}

.container {
  background-color: #1c1c1c;
  display: inline-flex;
  padding: 1.5em;
  border-radius: 0.5em; /*raio da borda*/
  flex-direction: column;
  align-items: center;
}

.area {
  display: flex;
  justify-content: center;
}

button {
  height: 3em;
  width: 100%;
  background-color: #ff9500;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
}

textarea{
  width: 100%;
  margin-top: 2em;
}
